<app-page-header [pageTitle]="'Register Page'"></app-page-header>
<div class="form-container">
  <form class="register-form" [formGroup]="registerForm">
    <div class="name-inputs">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput name="firstName" />
        <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
          You must enter a value!
        </mat-error>
        <mat-error *ngIf="registerForm.get('firstName').hasError('pattern')">
          Please enter a valid Name!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput name="lastName" />
        <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
          You must enter a value!
        </mat-error>
        <mat-error *ngIf="registerForm.get('lastName').hasError('pattern')">
          Please enter a valid Name!
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput name="email" type="email" />
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
        You must enter a value!
      </mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('email')">
        Not a Valid Email!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        name="password"
        type="password"
      />
      <mat-icon
        style="cursor: pointer"
        matSuffix
        (click)="hidePassword = !hidePassword"
        >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-error *ngIf="registerForm.get('password').hasError('required')">
        You must enter a value!
      </mat-error>
      <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
        Password must be at least 7 characters long!
      </mat-error>
      <mat-error *ngIf="registerForm.get('password').hasError('maxlength')">
        Password limit is 20 characters!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        formControlName="confirmPassword"
        matInput
        name="confirmPassword"
        [type]="hideConfirmPassword ? 'password' : 'text'"
      />
      <mat-icon
        style="cursor: pointer"
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        >{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-error
        *ngIf="registerForm.get('confirmPassword').hasError('required')"
      >
        You must enter a value!
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
      * Password must contain at least :
      <ul>
        <li>1 Lowercase</li>
        <li>1 Uppercase</li>
        <li>1 Number</li>
        <li>Special Character</li>
      </ul>
    </mat-error>

    <mat-error *ngIf="registerForm.errors?.passwordMatch">
      * Passwords must match
    </mat-error>
    <button (click)="onSubmitForm()" mat-raised-button color="accent">
      Submit
    </button>
  </form>
</div>
