<!-- <div class="keyword-container-input">
  <mat-form-field>
    <mat-label>Add a input</mat-label>
    <input matInput type="text" [(ngModel)]="inputKeyword" />
    <button
      mat-button
      *ngIf="inputKeyword"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="inputKeyword = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button color="primary" (click)="onSaveKeyword()">Save</button>
</div> -->
<div>
  <h1 mat-dialog-title>Enter New Keyword</h1>
  <div mat-dialog-content>
    <div class="container">
      <mat-form-field class="container">
        <mat-label>Keyword</mat-label>
        <input matInput [(ngModel)]="inputKeyword" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onRejectSave()">Reject</button>
    <button mat-button [mat-dialog-close]="inputKeyword" cdkFocusInitial>
      Save
    </button>
  </div>
</div>
