<div class="book-card-slot">
  <mat-card class="book-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ this.book.title }}</mat-card-title>
      <mat-card-subtitle>{{ this.book.authors }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="book-card-content">
      <div class="book-content-col">
        <img
          width="180px"
          height="240px"
          class="book-card-image"
          mat-card-image
          src="{{ this.book.thumbnail }}"
          alt="Book Cover"
        />
      </div>
      <div class="book-content-col">
        <p>{{ this.book.description }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="item-interactive-block">
        <span
          class="material-icons interactive-block-icon"
          (click)="reviewBook(this.book.liked, this.book.id)"
          [innerHTML]="this.book.liked ? 'thumb_up_alt' : 'thumb_up_off_alt'"
        >
        </span>
        <span>{{ this.book.endorsements }}</span>
      </div>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
