.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;

  .headline {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .headline-section {
      margin: auto;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .home-form {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    .field {
      margin: 10px;
    }
    .controller {
      font-size: 120%;
    }
  }
  .submit-container {
    display: inline-block;
    margin: auto;

    .submit-button-style {
      width: 130px;
      height: 50px;
    }
    .controller {
      font-size: 150%;
    }
  }
}

#search {
  flex-grow: 3;
}

#discipline {
  flex-grow: 1;
}
