<app-page-header
  class="header-component"
  [pageTitle]="this.title"
></app-page-header>
<div class="browse-section-header">
  <form class="header-content-column" (ngSubmit)="onSubmit()">
    <div class="form-item" id="search">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input name="search" matInput [(ngModel)]="this.payload.search" />
      </mat-form-field>
    </div>
    <div class="form-item" id="filter">
      <mat-form-field appearance="outline">
        <mat-label>Sort Field</mat-label>
        <mat-select
          name="sortField"
          [(ngModel)]="this.payload.sortField"
          (selectionChange)="onSortSelectChange()"
        >
          <mat-option value="title">Title</mat-option>
          <mat-option value="authors">Author</mat-option>
          <mat-option value="endorsements">Likes</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="form-item">
    <span style="padding-right: 8px">List</span>
    <mat-slide-toggle
      color="accent"
      name="viewStyle"
      value="0"
      [checked]="this.payload.viewStyle"
      (change)="onChangeView($event)"
      >Grid</mat-slide-toggle
    >
  </div>
  <div class="form-item">
    <span style="padding-right: 8px">Neo4j</span>
    <mat-slide-toggle
      color="accent"
      name="viewResource"
      value="0"
      [checked]="this.viewResource"
      (change)="onChangeResource($event)"
      >GoogleBooks</mat-slide-toggle
    >
  </div>
</div>

<div class="list-section">
  <!-- <div> -->
  <div class="list-section-header">
    <mat-form-field appearance="outline">
      <mat-label>Discipline</mat-label>
      <mat-select
        name="discipline"
        [(ngModel)]="this.payload.discipline"
        (selectionChange)="onDisciplineSelectChange()"
      >
        <mat-option
          *ngFor="let discipline of disciplines"
          value="{{ discipline }}"
          >{{ discipline }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-paginator
      *ngIf="this.dataPacket.count > 0"
      class="controller-item"
      [length]="this.dataPacket.count"
      [pageSize]="this.payload.limit"
      [pageSizeOptions]="[4, 8, 12]"
      (page)="onPaginate($event)"
    ></mat-paginator>
  </div>
  <div *ngIf="this.dataPacket.count > 0; else noDataView">
    <app-default-list
      (likeBookEvent)="likeBook($event)"
      (unlikeBookEvent)="unlikeBook($event)"
      [data]="{ books: this.dataPacket.data, search: this.payload.search }"
      *ngIf="!this.payload.viewStyle; else gridview"
    ></app-default-list>
    <ng-template #gridview>
      <app-grid-list
        [data]="{ books: this.dataPacket.data, search: this.payload.search }"
      ></app-grid-list>
    </ng-template>
  </div>
  <ng-template #noDataView>
    <!-- <app-error></app-error> -->
  </ng-template>
  <mat-paginator
    class="footer-paginator"
    *ngIf="this.dataPacket.count > 0"
    [length]="this.dataPacket.count"
    [pageSize]="this.payload.limit"
    [pageSizeOptions]="[4, 8, 12]"
    (page)="onPaginate($event)"
  ></mat-paginator>
</div>
