<div class="c-list">
  <div class="c-list-item" *ngFor="let item of data.books">
    <div class="c-list-item-header">
      <a
        class="c-list-item-header-title"
        [routerLink]="['/browse', item.id]"
        [innerHTML]="highlightText(item.title)"
      >
      </a>
      <div class="c-list-item-interactive-block">
        <span
          class="material-icons interactive-block-icon"
          (click)="reviewBook(item.liked, item.id)"
          [innerHTML]="item.liked ? 'thumb_up_alt' : 'thumb_up_off_alt'"
        >
        </span>
        <span>{{ item.endorsements }}</span>
      </div>
    </div>
    <div class="c-list-item-content">
      <img
        width="140px"
        height="200px"
        class="c-list-item-cover"
        src="{{ item.thumbnail }}"
        alt="Book Cover"
      />
      <div class="c-list-item-details">
        <span
          ><span class="c-list-item-details-section">Author:</span>
          {{ item.authors }}</span
        >
        <span
          ><span class="c-list-item-details-section">Keywords:</span
          ><span
            [innerHTML]="' ' + highlightText(item.keywords.toString())"
          ></span>
        </span>
        <span
          ><span class="c-list-item-details-section">Year:</span>
          {{ item.publishedDate }}</span
        >
        <span
          class="c-list-item-text"
          [innerHTML]="highlightText(item.description) + '..'"
        ></span>
      </div>
    </div>
  </div>
</div>
